<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE 340</title>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
    
        <%- locals.pageCSS %>
</head>

    <body class="<%= locals.bodyClass || '' %>">
        <div id="wrapper">
            <header>
                <%- include('../partials/header') %>
            </header>
            <nav>
                <%- nav %>
            </nav>
            <main>
                <%- messages() %>
                    <% if (locals.notice) { %>
                        <ul class="notice">
                            <li>
                                <%= notice %>
                            </li>
                        </ul>
                        <% } %>
                            <%- body %>
            </main>
            <footer>
                <%- include('../partials/footer') %>
            </footer>
        </div>
    </body>

</html>